thead, tbody{
  width: 100%;
  display: grid;
}

thead > tr{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

tbody > tr{
  width: 100%;
  display: grid;
  text-align: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
}