tbody{
  overflow-y: scroll;
}

thead, tbody{
  width: 100%;
  display: grid;
}

thead > tr{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

tbody > tr{
  width: 100%;
  display: grid;
  text-align: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.task-cell{
  background-color: gray;
  border-radius: 0.4em;
  padding: 0.3em;
}