html,
body {
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

body>* {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.dashboard,
.block {
  box-sizing: border-box;
}


.container {
  width: 500px;
  margin: 3em auto 0;
}

.container h1,
h3 {
  line-height: .9;
  padding: initial;
  margin: initial;
}

.container h1 {
  letter-spacing: -2.5px;
  font-size: 2em;
}

.container h3 {
  letter-spacing: -1px;
  font-size: 1em;
}

.button {
  background-color: black;
  color: white;
  padding: 0.1em 0.3em 0.1em 0.3em;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  border: none;
  border-radius: 10px;
}

button {
  background-color: black;
  color: white;
  padding: 0.1em 1em 0.1em 1em;
  text-decoration: none;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: #727272;
  transition: 0.5s;
  cursor: pointer;
}

.docs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.doc {
  padding: 2em 0em 2em 1em;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.doc h3 {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 0.5em 0 0.5em 0;
  box-shadow: 0 10px 40px 0 rgba(255, 255, 255, 0.08), 0 2px 4px 0 rgba(255, 255, 255, 0.12);
  height: 5vh;
}

.header>* {
  float: right;
}

.block {
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  overflow: hidden;
  max-height: 100%;
}

.block h3 {
  text-align: left;
  width: 95%;
  margin: 0 auto;
}

.block textarea {
  margin: 0 auto;
  border-radius: 0.5em;
  height: 100%;
  padding: 0.5em;
  resize: none;
  overflow-y: auto;
}

.block hr {
  background-color: white;
  width: 96%;
}

/* .operations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: '100%' 
} */

.capture-textarea {
  background-color: transparent;
  border: none;
  color: white;
}

.inbox-list {
  display: flow-root;
  width: 98%;
  margin: 1em auto 0;
  overflow-y: scroll;
}

.inbox-list>* {
  font-size: 14px;
  text-align: center;
}

.dashboard {
  max-height: 100vh;
  display: grid;
  gap: 1em;
}

.board {
  height: 96vh
}


.card {
  margin-top: 1em;
}

.captureBlock {
  display: grid;
  gridTemplateColumns: '25% 25% 25% 25%';
  width: 95%;
  margin: 0 auto;
  margin-top: 1em;
}

.captureBlock>* {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.captureButton {
  width: 90%;
}

.taskListing>* {
  font-size: 0.9em;
}

.ai .mantine-InputWrapper-root .mantine-Input-wrapper {
  height: 100%;
}

.tooltip {
  position: absolute;
  z-index: 100;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  white-space: nowrap;
}